.home-container {
  text-align: left;
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 20px;
}

.intro-container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.intro-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
  transform: translateZ(30px);
}

.intro-content {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  transform: translateZ(20px);
}

.about-container {
  margin-top: 50px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  background-color: #fff;
  padding: 20px;
}

.about-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  transform: translateZ(30px);
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateZ(20px);
}

.about-item {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
